<.flash_group flash={@flash} />
<script type="text/javascript">
window.gameInfo = {
  game_id: "<%= @game_id %>"
}
</script>
<script defer phx-track-static type="text/javascript" src={~p"/assets/game.js"}></script>
